.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: center;
    height: 500px;

}

.carousel-item {
    flex: 0 0 calc(100% / 3); /* Adjust the width for desktop view */
    padding: 10px;
    height: 400px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.prev-button,
.next-button {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 40%;
}

.next-button {
    right: 40%;
}

.imageCarousel{
    width: 300px;
    height: auto;
    filter: grayscale(1)
}

.imageCarousel:hover{
    filter: none;
    transform: scale(1.3);
    cursor: pointer;
}

@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 100%;
        /* Show one item at a time in mobile view */
    }

    .prev-button,
    .next-button {
        color: #fff;
        background-color: #292929;
    }

    .prev-button {
        left: 0;
    }
    
    .next-button {
        right: 0;
    }

}