

.firstSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}


@media (max-width: 768px) {
    .firstSectionContainer {
        padding: 100px 20px  0px 20px;
    }

    #FirstSectionContainer{
        padding-top: 150px;
    }


}