
.masonry-grid {
    display: flex;
    margin-left: -16px;
    /* Adjust for default padding/margin of the container */
    width: auto;
}

.masonry-column {
    padding-left: 16px;
    /* Adjust for default padding/margin of the container */
    background-clip: padding-box;
}

.masonry-item {
    margin-bottom: 16px;
    cursor: pointer;
}

.masonry-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    /* Optional: Add rounded corners to images */
}

/* Lightbox styles */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}

.ReactModal__Content img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border-radius: 8px;
    /* Optional: Add rounded corners to images in lightbox */
}